header {
  height:65px;
  width:100%;
  background-color:rgba(34,49,52,0.9);
  position:fixed;
  top:0;
  z-index:10;
  background-color: black;
}

.container {
  width:1170px;
  margin:0 auto;
}

.header-left {
  float:left;
  color:white;
}

.logo {
  width:124px;
  margin-top:20px;
}

.header-right {
  float:right;
  background-color:rgba(255,255,255,0.3);
  padding:0 25px;
  display:block;
  line-height:65px;
  color:white;
  transition:all 0.5s;
}

.header-right:hover{
  background-color:rgba(255,255,255,0.5);
  cursor:pointer;
}



.top-wrapper {
  background-color:blue;
  background-size:cover;
  margin:0 auto;
  padding-top:180px;
  padding-bottom:100px;
  text-align:center;
}

.top-wrapper h1 {
  font-size:45px;
  font-weight:bold;
  letter-spacing:5px;
  color:white;
  opacity:0.7;
}

.top-wrapper p {
 color:white;
 opacity:0.7;
}

.btn {
  display:inline-block;
  padding:8px 24px;
  color:white;
}

.signup {
  margin-top:30px;
  margin-bottom:15px;
  background-color:#239b76;
  opacity:0.8;
}

.facebook {
  background-color:#3b5998;
  opacity:0.8;
  margin-top:15px;
  margin-right:10px;
}

.twitter {
  background-color:#55acee;
  opacity:0.8;
  margin-top:15px;
}

.lesson-wrapper {
  height:580px;
  text-align:center;
  background-color:#f7f7f7;
}

.heading {
  padding-top:80px;
  font-weight:normal;
  color:#5f5d60;

}

.lessons {
  padding-top:50px;
}

.lesson {
  float:left;
  width:25%;
}

.lesson-icon  {
  position:relative;
}

.lesson-icon p {
  position:absolute;
  width:100%;
  top:90px;
  color:white;
}

.txt-contents {
  width:80%;
  display:inline-block;
  padding-top:15px;
  font-size:13px;
  color:#b3aeb5;
  text-align:center;
}

.message-wrapper {
  text-align:center;
}

.heading {
  padding-top:80px;
  color:#5f5d60;
}

.heading h2 {
  font-weight:normal;
}

.message {
  margin-top:50px;
  margin-bottom:80px;
  background-color:#5dca88;
  opacity:0.8;
  padding:15px 40px;
  box-shadow:0 7px #1a7940;
  cursor:pointer;
}

.message:active {
  box-shadow:none;
  position:relative;
  top:7px;
}

footer {
  border-top:1px solid #eee;
  color:#b3aeb5;
}

footer img {
  padding-top:30px;
  width:124px;
}

footer p {
  font-size:12px;
  padding-bottom:30px;
}
